
 /* nav2 --------------------------- */
 body{
    margin: 0%;
    padding: 0%;
 }

 .divanimation{
    position: relative;
    margin-left:2% ;

}
.divanimation span{
    position: relative;
    display: inline-block;
    color: rgb(16, 163, 0);
    animation: animate 11s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
  
}
@keyframes animate{
    0%{
        transform: translateY(6px);
    }
    25%{
        transform: translatex(-5px);
    }
    40%,100%{
        transform: translateY(6px);
        /* transform: translateY(-4px); */
    }
}

 .nav2{
    display:flex;
    width: 100%;
    color: blue;
    height: 70px;
 }
 .nava1{
    width: 32%;
    height: 100%;
    font-size:25px;
    padding-top: 1%;
 }
 #logo{
    width: 50px;
}

 .nava1 a{
    text-decoration: none;

 }

 .nava1 img{
    width: 100%;
    height: 100%;
 }
.navc{
    width: 25%;
    height: 100%;
}
@media  (max-width:700px){
   
    .navc1 input,.navc1 button{
        display: none;
    }
    .navc{
        width: 0%;
        height: 0%;
        display: none;
    }
    .nav2{
        display:flex;
        width: 100%;
        color: blue;
        height: 70px;
     }
    .navc2{
        width: 20%;
        height: 100%;
        margin-right: 3%;
        margin-left: 2%;
        
    }
    .nava1{
        width: 35%;
        height: 100%;
        font-size: large;
        padding-top: 0.3%;
     }
     #logo{
        width: 25px;
    }
    
    .navc3{
        width: 16%;
        height: 100%;
        margin-right: 3%;
        margin-left: 5%;
        
        
    }
    .select{
        color: #2b00ff;
        border: 1.2px solid rgb(0, 17, 255);
        margin-top: 18%;
        margin-left: 10%;
        border-radius: 6px;
    
    }
    
    .navc4{
        width: 16%;
        height: 100%;
        margin-right: 2%;
        margin-left: 10%;
    }
    
    .navc5{
        width: 16%;
        height: 100%;
        margin-left: 2%;
        margin-right: 0%;
    }
    
}

.navc1{
    margin-top: 6%;
    margin-right: 2%;
    margin-left: 10%;
}
.navc2{
    width: 10%;
    height: 100%;
    
}
.navc3{
    width: 10%;
    height: 100%;
    
    
}
.select{
    color: #2b00ff;
    border: 1.2px solid rgb(0, 17, 255);
    margin-top: 18%;
    margin-left: 10%;
    border-radius: 6px;

}

.navc4{
    width: 10%;
    height: 100%;
    padding-top: 1.8%;
    padding-left: 1%;
}

.navc5{
    width: 10%;
    height: 100%;
    padding-top: 1.8%;
    padding-left: 1%;
}
/* نهاية nav2 _____________________________ */


/* header --------------------- */
header{
    width: 100%;
    background-color: rgb(255, 255, 255);

}
/* نهاية header ______________________ */




/* navb-------------------------------- */
.navb{
    background-color: #dbffdf;

    margin-top: 0px;
    
     
}
@media  (min-width:700px){
    .navb{
        display:none;
    }
    
}
#nnav1{
    color: #9e121b;
}
.n1av a{
    text-decoration: none;
    color:#9e121b;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    transition: 0.3s;
    text-align: center;

 }
 .n1av li{
    margin-top: 1.7%;
   
    text-align: center;

 }
 .n1av li :hover{
    border-radius: 6px ;
    background-color:#65C18C;
 }

.n1av ul li #nnav1:hover{
    color: rgb(255, 255, 255);
}
/* انتهاء navb ____________________________ */


/* nav 1 ------------------------------------- */
.nav1{
    border-bottom: 1px solid grey;
    background-color:#dbffdf;
    height: 50px;  
 }
.nav1 a{
    text-decoration: none;
    color:#9e121b;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    transition: 0.3s;
    text-align: center;
}
.nav1 li{
    text-align: center; 
}
.nav1 ul{
    list-style: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.nav1 li :hover{
    color:rgb(255, 255, 255);
    border-radius: 6px ;
    background-color:#65C18C;
}
@media  (max-width:700px){
    .nav1{
        display: none;
    }
    
}/* انتهاء nav 1 _____________________________________ */





















 